<div class="navbar navbar-fixed-top" role="navigation">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="#">BB starter demo</a>
      <div class="nav-collapse">
        <ul class="nav">
          <li class="active"><a href="/#">Home</a></li>
          <li><a href="/#about">About</a></li>
          <li><a href="/#items">Items</a></li>
          <li><a href="/#items/add">Add</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>
