body {
  padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}

.loader {
  background: url(../images/loader.gif) no-repeat;
  width: 32px;
  height: 32px;
  margin: 0 auto;
}

table.items-list td {
  vertical-align: middle;
}
