<div class="page-header">
	<h1>
		{{name}}
	</h1>
</div>

<p>
  <b>Price</b> - {{price}}
</p>

<div class="row">
  <div class="span6">
    <a href="#/items/{{_id}}/edit" class="btn">
      <i class="icon-edit icon-black"></i>
      Edit
    </a>
    &nbsp;
    <a href="#/items/{{_id}}" data-id="{{_id}}" class="btn btn-danger delete">
      <i class="icon-trash icon-white"></i>
      Delete
    </a>
  </div>
</div>  
